<h1>Settings</h1>

<form class="form-horizontal" role="form" ng-submit="submit()">
  <div class="form-group">
    <label for="node" class="col-md-3 control-label">Admin Endpoint: </label>
    <div class="col-md-4">
      <input type="text" class="form-control" id="node" name="node" ng-model="node" required>
    </div>
    <span for='node' class="col-md-3 control-label text-left">Just add one of the clusters</span>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-6">
      <button type="submit" class="btn btn-primary" >ok</button>
      <button type="button" class="btn btn-default" ng-click="reset()">reset</button>
    </div>
  </div>
</form>
<hr>
