<h1>Apis</h1>


<table class="table table-striped">
    <thead>
    <tr>
        <th>index</th>
        <th>name</th>
        <th>request_host</th>
        <th>request_path</th>
        <th>strip_request_path</th>
        <th>preserve_host</th>
        <th>upstream_url</th>
        <th>action</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="api in apis.data">
        <td>{{$index+1}}</td>
        <td>{{api.name}}</td>
        <td>{{api.request_host}}</td>
        <td>{{api.request_path}}</td>
        <td>{{api.strip_request_path}}</td>
        <td>{{api.preserve_host}}</td>
        <td>{{api.upstream_url}}</td>
        <td>
            <button type="button" class="btn btn-success btn-sm" ng-click="location2plguin(api.id)">Config Plguin</button>
            <button type="button" class="btn btn-danger btn-sm" ng-click="delete(api.id)">delete</button>
        </td>
    </tr>
    </tbody>
</table>

<form name="addApiForm" class="form-horizontal" role="form">
    <div class="form-group">
        <label for="name" class="col-md-2 control-label">name</label>

        <div class="col-md-6">
            <input type="text" class="form-control" id="name" ng-model="name"></input>
        </div>
    </div>
    <div class="form-group">
        <label for="name" class="col-md-2 control-label">request_host</label>

        <div class="col-md-6">
            <input type="text" class="form-control" id="request_host" ng-model="requestHost"></input>
        </div>
    </div>
    <div class="form-group">
        <label for="name" class="col-md-2 control-label">request_path</label>

        <div class="col-md-6">
            <input type="text" class="form-control" id="request_path" ng-model="requestPath"></input>
        </div>
    </div>
    <div class="form-group">
        <label for="name" class="col-md-2 control-label">strip_request_path</label>

        <div class="col-md-2">
            <select class="form-control" id="strip_request_path" ng-model="stripRequestPath"
                    ng-options="a.id as a.name for a in boolMap" required>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="name" class="col-md-2 control-label">preserve_host</label>

        <div class="col-md-2">
            <select class="form-control" id="preserve_host" ng-model="preserveHost"
                    ng-options="a.id as a.name for a in boolMap" required>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="name" class="col-md-2 control-label">upstream_url</label>

        <div class="col-md-6">
            <input type="text" class="form-control" id="upstream_url" ng-model="upstreamUrl"></input>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-6">
            <button type="button" class="btn btn-primary" ng-click="add()">add</button>
            <button type="button" class="btn" ng-click="reset()">reset</button>
        </div>
    </div>
</form>